@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sobre mim";
}
<h1>@ViewData["Title"]</h1>

<p>
    💻 Desenvolvedor .NET | C# e VB
    Olá! Sou Hiago Rangel, desenvolvedor .NET com sólida experiência em C# e VB. Minha trajetória profissional inclui o desenvolvimento de aplicações robustas e escaláveis, com foco na qualidade de código, eficiência e resolução de problemas.

    Tenho expertise nos principais frameworks do ecossistema .NET, incluindo ASP.NET Core, Entity Framework, WPF, e WinForms, além de habilidades em integração de APIs, design de bancos de dados relacionais e não relacionais e criação de soluções inovadoras.

    🔹 Habilidades Técnicas:

    Desenvolvimento backend e frontend com .NET.
    Criação de APIs RESTful.
    Banco de dados SQL Server e integração com ORM.
    Métodos ágeis e boas práticas de desenvolvimento, como SOLID e Clean Code.
    🔹 Diferenciais:

    Capacidade de entregar projetos no prazo e com alta qualidade.
    Experiência em modernização de sistemas legados para tecnologias mais recentes.
    Compromisso com o aprendizado contínuo e inovação tecnológica.
</p>
